<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <section>

        <div class = "container-fluid p-5 mt-5">    <!--container-fluid applies width:100% to the parent element-->
            <div class = "row">
                <div class = "col-md-3">        <!--col-md-4 is ideal-->
                    <div class = "card card-sh">
                        <div class = "card-header text-center fs-4">Add Game(Category)</div>
                        <div class = "card-body">
                            <form>
                                <div class = "mb-3">
                                    <label>Enter Game</label>
                                    <input type = "text" class = "form-control">
                                </div>

                                <div class = "mb-3">
                                    <label>Status</label>
                                    <!-- radio button from bootstrap -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Default radio
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Default checked radio
                                        </label>
                                    </div>
                                </div>

                                <div class = "mb-3">
                                    <label>Upload image</label>
                                    <input type = "file" class = "form-control">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class = "col-md-8">
                    <div class = "card card-sh">
                        <div class = "card-header text-center fs-4">Game Details</div>
                        <div class = "card-body">
                            <table class="table">       <!--table from Bootstrap-->
                                <thead>
                                <tr>
                                    <th scope="col">Serial Number</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>

</body>
</html>