<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>View Item</title>
</head>
<body>

    <section>
        <div class = "container card-sh" style="margin-top: 70px; margin-bottom: 140px">        <!-- margin-bottom 140px to move footer all the way to the bottom of the page -->
            <div class = "col-md-12 p-5">

                <div class = "row">

                    <div class = "col-md-6 text-end">
                        <!-- Loren Ipsum image for now-->
                        <img alt="" src="https://picsum.photos/200" width = "330px" height = "400px">
                    </div>

                    <div class = "col-md-6">
                        <p class="fs-3">Loren Ipsum item</p>
                        <p>
                            <span class="fw-bold">Description : </span><br> Sample description
                        </p>
                        <p>
                            <span class="fw-bold"> Product Details: </span> <br> Status:
                            <span class="badge bg-success">Available</span>
                            <span class="badge bg-warning">out of stock</span>
                            <br>
                            Category: Dota 2
                            <br>
                            Policy : 7 Days Replacement & Return
                        </p>

                        <p class="fs-5 fw-bold">
                            Price :&nbsp; &nbsp; &nbsp; &nbsp;<i class="fas fa-dollar-sign"></i> 25 <!-- price after discount-->
                            <span class="fs-6 text-decoration-line-through text-secondary">50</span>   <!--price before discount-->
                            <span class="fs-6  text-success">50% off</span>     <!--discount percentage-->
                        </p>

                        <!-- design start -->
                        <div class="row">
                            <div class="col-md-4 text-success text-center p-2">
                                <i class="fas fa-money-bill-wave fa-2x"></i>
                                <p>Cash On Delivery</p>
                            </div>
                            <div class="col-md-4 text-danger text-center p-2">
                                <i class="fas fa-undo-alt fa-2x"></i>
                                <p>Return Available</p>
                            </div>
                            <div class="col-md-4 text-primary text-center p-2">
                                <i class="fas fa-truck-moving fa-2x"></i>       <!-- fa-2x = font awesome 2x size of default icon -->
                                <p>Free Shipping</p>
                            </div>
                        </div>

                        <a
                                th:href="login.jsp" class="btn btn-danger col-md-12">Add To Cart</a>
                        <!-- design end -->

                    </div>

                </div>
            </div>
        </div>
    </section>

</body>
</html>